/* Allgemeines Styling des HTML Documents */

#farben-tester {
  color: #000, #fff;
}

:root {
  --clr-primary-bl: #000;
  --clr-secondary-wh: #fff;
  --font-primary: "Special Elite", cursive;
  --font-secondary: "Exo", sans-serif;
  --font-sz-big: 1.75rem;
  --font-sz-primary: 4rem;
  --font-sz-secondary: 3.5rem;
  --font-sz-content: 2.5rem;
  --font-sz-small: 1.8rem;
}

* {
  margin: 0;
  padding: 0;
  line-height: 1;
  font-family: var(--font-primary);
  color: var(--clr-primary-bl);
}

[class$="headline"] {
  font-family: var(--font-secondary);
  font-weight: 800;
  font-size: var(--font-sz-primary);
}

.secondary-headline {
  font-size: var(--font-sz-primary);
}

.content-headline {
  font-size: var(--font-sz-content);
}

.small-headline {
  font-size: var(--font-sz-small);
}

p {
  font-size: var(--font-sz-small);
}

.header,
article[id$="-link"] {
  background-color: var(--clr-secondary-wh);
}

article[id$="-link"] {
  margin-top: 45vh;
}

img {
  object-fit: contain;
}

/* Hintergrund-Bilder der: Homepage und Artikel */
.background-img {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.homepage.background-img {
  background-image: url("../img/bg.jpeg");
  min-height: 100vh;
}
.introduction.background-img {
  background-image: url("../img/beans_icon.png");
  min-height: 100vh;
}
.menu.background-img {
  background-image: url("../img/cake_icon.png");
  min-height: 100vh;
}
.catering.background-img {
  background-image: url("../img/pie_icon.png");
  min-height: 100vh;
}
.cakes.background-img {
  background-image: url("../img/muffin_icon.png");
  min-height: 100vh;
}

/* Header: Navbar Styling */

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  height: 3.75rem;
  font-size: 0.9rem;
  background-color: var(--clr-secondary-wh);
}

.navbar-list {
  display: flex;
  justify-content: space-around;
  min-width: 35%;
  list-style-type: none;
}

.navbar-link {
  text-decoration: none;
}

.navbar-link:hover {
  text-decoration: underline;
  text-decoration-thickness: 0.1rem;
}

/* Header: Homepage Styling */

.homepage-container {
  display: flex;
  flex-direction: column;
}

.homepage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.company-name-img {
  min-width: 55%;
  max-width: 65%;
}

/* Header: Introduction Styling */

.header .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 7rem;
  max-width: 40vw;
  min-height: 50vh;
  gap: 2rem;
}

.text-container {
  display: flex;
  flex-direction: column;
  gap: 0.65rem;
  font-size: var(--font-sz-big);
}

.fixed-background-img {
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-menu {
  background-image: url("../img/bridge_1.jpg");
}
.bg-story {
  background-image: url("../img/bridge_2.jpg");
}
.bg-catering {
  background-image: url("../img/bridge_3.jpg");
}
.bg-cakes {
  background-image: url("../img/bridge_4.jpg");
}

/* Main: Artikel Styling */

.artikel-container {
  display: flex;
  justify-content: center;
}

article .content {
  display: flex;
  padding: 3rem;
}

/* Main: Menu Styling */

.menu .content {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 40vw;
  gap: 2rem;
  width: 35%;
  min-height: 100vh;
}

.menu-icon {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.toast-icon {
  height: 3rem;
}

.daily-brews,
.handmade-coffees {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.9rem;
  width: 100%;
}

.brew-details,
.coffee-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 100%;
}

.brew,
.coffee {
  text-align: center;
  border: 0.075rem solid var(--clr-primary-bl);
  padding: 1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

/* Main: Story Styling */

.artikel-container.story {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.story .content {
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  gap: 5rem;
  width: 80%;
  padding: 6rem 0;
}

.story-img {
  height: 20%;
}

.story .text-container {
  max-width: 50%;
}

/* Main: Catering Styling */

.artikel-container.catering {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.catering .content {
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  gap: 5rem;
  width: 60%;
  padding: 6rem 0;
}

.catering-img {
  height: 16rem;
}

.catering .text-container {
  max-width: 50%;
}

/* Main: Cake Styling */

.artikel-container.cakes {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.cakes .content {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 5rem;
  width: 60%;
  padding: 6rem 0;
}

.cake-img {
  height: 16rem;
}

.cakes .text-container {
  max-width: 50%;
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
}

/* Footer: Styling */

.footer {
  background-color: var(--clr-primary-bl);
  padding-top: 2rem;
}

.footer-content.white-font h4,
.footer-content.white-font p,
.footer-content.white-font h5 {
  color: var(--clr-secondary-wh);
}

.footer-content.white-font p {
  font-size: 1.25rem;
}

.footer-content.white-font h5 {
  font-size: 3rem;
  color: yellow;
}

.footer-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.footer-content img {
  height: 2rem;
  width: 2rem;
}

/* Additional Styling */

.navbar-scrolled {
  position: fixed;
  margin: 0;
  top: 0;
  width: 100%;
}

.goTop-Button {
  font-family: var(--font-primary);
  font-size: 1rem;
  position: fixed;
  padding-bottom: 4px;
  bottom: 1.25rem;
  right: 1.25rem;
  width: 3.25rem;
  height: 3.25rem;
  border-style: none;
  background-color: var(--clr-secondary-wh);
  border-radius: 0.85rem;
  box-shadow: 0 0 0.3rem rgba(0, 0, 0, 0.25);
  cursor: pointer;
  color: var(--clr-primary-bl);
  text-align: center;
}
